.default{
    
    font-size: small;
    margin:60px;
    width:auto;
    height:auto;
    /* background-image:
     url('https://media.npr.org/assets/img/2020/03/07/spacex-march-6-4bb0dbc7fc37c565a41038ee76763e320beaebdd-s800-c85.jpg');
      */
}